<form [formGroup]="signupForm" (ngSubmit)="signup()">


  <div class="outer">
    <div class="inner">

      <h4 style="text-align: center">Signup</h4>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="email" placeholder="enter your email">
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="password" placeholder="enter your password">
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="signupForm?.invalid" class="submit-login">Register</button>

      <hr>
      <p class="text">Or</p>

      <button mat-raised-button type="submit" routerLink="/security/login" class="submit-login">Already Have an account</button>


    </div>
  </div>
</form>
